.orglogo{
    height: 100px;
    width: 100%;
    padding-left: 50px;

}
.footerlogo{
    height: 172px;
}
.about-us{
    height: 400px;
}
.feedback{
    margin-right: 196px;
    width: 70%;
}



.quality-assurance{
    height: 504px !important;
    width: 461px !important;
    margin-top: 125px !important;
    margin-left: 339px !important;
}